@import "./../node_modules/sass-autoprefixer/scss/prefixes";

$transition-setting: height 1500ms 1500ms, opacity 1500ms 0ms;


button:focus {
  outline: 0 !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

button.nav_expander {
  line-height: 10px;
  padding: 0px 10px 20px 10px;
  font-weight: bold;
  font-size: 32px;
  height: 46px;
  cursor: pointer;
  background-color:transparent;
  border: none;

  position: fixed;
  right: 46px;
  top: 30px;
  z-index: 3;

  span {
    margin-top: -10px;
    display: block;
  }

  span.default {
  }

  span.expanded {
    display: none;
  }
}

nav#main_nav{
  background-color: #C55;
  width: 388px;
  right: 46px;
  position: fixed;
  z-index: 2;

  > ul {
    padding-top: 31px;
    padding-bottom: 31px;
    padding-left: 20px;

    transition: 1.5s;

    li:hover > a{
      opacity:0.5;
    }
  }

  li{
    list-style: none;
    padding:5px;

    a{
      font-size: 28px;
      color:white;
      text-decoration: none;
    }
  }
}

.show{
  opacity:1;
  height: inherit;
  transition: $transition-setting;
}

.hide{
  opacity: 0;
  height: 0px;
  overflow: hidden;
  transition: $transition-setting;
}

article {
  margin-top:43px;
  margin-bottom: 100px;
  margin-left: 8%;
  margin-right: auto;

  min-height: calc( 100vh - 126px );

  img.header-img{
    max-width:40vw;
    min-width:100px;
    max-height: 40vh;
  }

  h2{
    font-size: 20pt;
    color: #333;
  }

  p {
    color: #666;
    font-size: 16pt;
  }

  .wp-block-button__link, & .wpforms-submit{
    background-color: #9c0d0d;
    width: 272px;
    height: 48px;
    display: block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: calibri;
    padding-top: 9px;
  }

  .wpforms-submit{
    border:none;
    height: 57px;
    padding-top: 0px;
    cursor: pointer;
  }

  .wpforms-submit:hover{
    text-decoration:underline;
  }

  a{
    text-decoration: none;
    color:black;
    font-weight:bold;

    &:hover{
      text-decoration:underline;
    }
  }

  a:active, a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
  }

  .before-section{
    margin-top: 5em;
    margin-bottom: 2em;
  }

  .wp-block-group{
    display:table;
    width: 100%;

    .wp-block-group__inner-container{
      display:table-row;

      figure.wp-block-image{
        display: table-cell;
        height: 64px;
        /* width: 64px; */
        width: 10%;
        padding-right: 26px;
        text-align: left;

        img{
          height: inherit;
          width: 95%;
          filter: grayscale(1);
          opacity:50%;
        }
      }
    }
  }

  .wpforms-field-label{
    clear: both;
    display: block;
    font-weight: bold;
    color: #444;
    font-size: 13pt;
    padding-bottom: 3pt;

    .wpforms-required-label{
      color:#C00;
    }
  }

  .wpforms-field-medium{
    font-size: 12pt;
    width: 80%;
    min-width: 200px;
    padding: 8pt;
    margin-bottom: 14pt;
    border: #BBB thin solid;
  }
}

@media only screen and (min-width: 768px) {
  button.nav_expander, nav{
    right:25%;
  }

  article {
    margin-left: 16%;

    h2{
      font-size: 32pt;
    }
    p {
      font-size: 20pt;
    }
  }
}

@media only screen and (min-width: 1152px) {
  article {
    /*
    margin-left:129px;
    margin-right:129px;
    */
    /*margin-left: 16%;
    margin-right: 16%;*/
    width: 66%;
  }
}
