$transition-setting: height 1500ms 1500ms, opacity 1500ms 0ms;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

nav{
  background-color: #C55;
  width: 388px;

  > ul {
    padding-top: 31px;
    padding-bottom: 31px;
    padding-left: 20px;

    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s;

    li:hover > a{
      opacity:0.5;
    }
  }

  li{
    list-style: none;
    padding:5px;

    a{
      font-size: 28px;
      color:white;
      text-decoration: none;
    }
  }
}

button.nav_expander {
  line-height: 10px;
  padding: 0px 10px 20px 10px;
  font-weight: bold;
  font-size: 32px;
  height: 46px;
  cursor: pointer;
  background-color:transparent;
  border: none;

  span {
    margin-top: -10px;
    display: block;
  }

  span.default {
  }

  span.expanded {
    display: none;
  }
}

.show{
  opacity:1;
  height: inherit;
  transition: $transition-setting;
}

.hide{
  opacity:0;
  height: 0px;
  overflow: hidden;
  transition: $transition-setting;
}